@import 'bootstrap-reboot.min.css';
@import 'susy';
@import 'plugins/svg-grid';

// Susy Settings
$susy: (
    'svg-grid-colors': hsl(180, 50%, 80%),
    'columns': susy-repeat(8),
    'container-spread': wide, 
    'spread': narrow,
);

// Demo
.container {
  background: susy-svg-grid() no-repeat scroll;
}

[data-span] {
  margin: 0;
}

[data-span='8'] {
  width: span(8);
}

[data-span='6'] {
  width: span(6);
}

[data-span='4'] {
  width: span(4);
}

[data-span='2'] {
  width: span(2);
}

[data-push='2'] {
  margin-left: span(2 wide);
}

[data-pull='2'] {
  margin-left: 0 - span(2 wide);
}

// Layout
html {
  font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: calc(14px + 0.5vw);
}

body {
  line-height: 1.4;
  margin: 0 auto;
  //max-width: 45rem;
  padding: 0rem;
  outline: 1px solid;
}

h1 {
  font-size: 1.2rem;
  font-weight: bold;
}

.container {
  margin: 1rem 0;
  padding: 0.5rem 0;
  outline: 1px solid;
  
  &::after {
    clear: both;
    content: ' ';
    display: block;
  }
}

[data-span] {
  background: linear-gradient(to left, rgba(red, 0.125), rgba(red, 0.125)), rgba(white, 0.5);
  background-clip: content-box, padding-box;
  float: left;
  padding-bottom: 1rem;
  padding-top: 1rem;
  outline: 1px solid red;
  text-align: center;
}

